{{#each card}}
  <div class='photo-card'>
    <img src='{{card.imageURL}}' alt='{{card.tags}}' loading='lazy' />
    <div class='info'>
      <p class='info-item'>
        <b>Likes</b>
        <p>'{{card.likes}}'</p>
      </p>
      <p class='info-item'>
        <b>Views</b>
        <p>'{{card.views}}'</p>
      </p>
      <p class='info-item'>
        <b>Comments</b>
        <p>'{{card.comments}}'</p>
      </p>
      <p class='info-item'>
        <b>Downloads</b>
        <p>'{{card.downloads}}'</p>
      </p>
    </div>
  </div>
{{/each}}
